{% extends 'base.html' %}
{% load wagtailimages_tags  wagtailcore_tags %}
{% load static %}


{% block content %}
	{%image page.banner_image width-3560 as img%}
	<div class="jumbotron mt-1 banner"  style="background-image: url({{img.url}});" ></div>

	<div class="container-fluid">

		<table class="table table-hover">
			<thead>
				<tr>
				<th scope="col" style="text-align: center;">
					<h3>{{ page.slider_title }}</h3>
				</th>
				</tr>
			</thead>
		</table>

			

		<div class="owl-carousel owl-theme">
			{%for slider in page.slider_images.all%}
				{%image slider.slide width-3560 height-300 as img%}
				<div class="item">
					<img src="{{ img.url }}" alt="">
				</div>
			{%endfor%}
		</div>	

		<div class="container">
			<div class="row">
				<div class="card text-white bg-info mb-3 col-md-5 col-sm-12 col-xs-12">
					<div class="card-header">Interested in drawings?</div>
					<div class="card-body">
					  <h4 class="card-title">Our platform:</h4>
					  <p class="card-text">Sketchy is an open platform where you can find drawings in the public domain. Drawings are freely distributed and are not subject to copyright</p>
					</div>
				  </div>

				  <div class="col-md-2 col-sm-12 col-xs-12 "></div>

				  <div class="card text-white bg-success mb-3 col-md-5 col-sm-12 col-xs-12">
					<div class="card-header">How to share images?</div>
					<div class="card-body">
					  <h4 class="card-title">Give me your drawing`s</h4>
					  <p class="card-text">If you suddenly want to share your work on this platform go to the Upload drawing tab</p>
					</div>
				  </div>
			</div>
		</div>
		
	</div>

	<footer class="text-muted">
		<div class="container">
		  <p class="float-right">
			<a href="#">Back to top</a>
		  </p>
		  <p>Sketchy is a modern open source drawing repository that can be accessed anywhere on the Internet</p>
		</div>
	</footer>

	
{% endblock %}

{%block extra_css%}
	<link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}">
	<link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/myapp.css' %}">
{%endblock%}

{%block extra_js%}
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src={% static 'js/owl.carousel.min.js' %} ></script>
	<script src={% static 'js/carousel.js' %} ></script>
{%endblock%}